# Dependencies
node_modules
*.log

# Build output
# dist (commented out to commit build files to git)

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage

# Misc
*.tsbuildinfo
