.input {
  display: none;
}
.img {
  object-fit: contain;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
.inputImage {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}
.removeImage {
  position: absolute;
  bottom: 0;
}
.buttonAddImage {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.buttonAddImage svg {
  margin-bottom: 4px;
}

/* Variants */
.default {
  aspect-ratio: 16 / 9;
}

.square {
  aspect-ratio: 1 / 1;
}

.avatar {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}

.small {
  aspect-ratio: 1 / 1;
  max-width: 150px;
  max-height: 150px;
}

.large {
  aspect-ratio: 16 / 9;
  min-height: 400px;
}
.bar {
  align-items: center;
  background: none;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
}
