.font-normal {
  font-weight: normal;
}
.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 0.75em;
}
.text-sm {
  font-size: 0.875em;
}
.text-base {
  font-size: 1em;
}
.text-lg {
  font-size: 1.125em;
}
.text-xl {
  font-size: 1.5em;
}
.text-3xl {
  font-size: 2.25em;
}
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}
